  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
} 
/* body{
    background-image: url("2.png");
    background-repeat: round;
    align-items: center; 
} */

/* Home Page  */

header{
    width: 100%;
    height: 100vh;
} 
.mainheader{
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    float: left;
    justify-content: space-between;
} 
 /* .mainheader .image img{
    flex: 1 1 40rem;
    padding: 2rem;
}  */
.mainheader .Logo img{
    width: 200px;
    height: 100px;
    padding: 30px;
    margin-top: -10px;
    margin-left: 70px;
}

.mainheader nav{
    width: 450px;
    display: flex;
    justify-content:space-around;
    align-items: left;
    margin-right:500px ;
}
.mainheader nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.mainheader nav a:hover{
    color: goldenrod;
}
.Language{
    margin-right: 60px;
}

select{
    appearance: none;
}
.mainheader select{
    padding: 10px 45px;
    text-align: left;
    font-size: 14px;
    color: black;
    border: none;
    background-color:transparent ;
    border-radius: 10px; 
}
main{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
main .right-sec{
    width: 100%;
    height: 100px;
    padding-right: 10px;
}

main .left-sec{
    padding-left: 100px;
}
.left-sec h1{
    font-size: 55px;
     text-transform: capitalize;
     font-weight: 700;
     margin: 15px 0;
}
.left-sec p{
    margin-bottom: 10px;
    margin-left: none;
}

.left-sec button{
    padding: 15px 45px;
    text-align: center;
    font-size: 14px;
    color: black;
    background-color: white;
    border: 0.1rem solid goldenrod;
    cursor: pointer;
    border-radius: 10px;
}
.left-sec button:hover{
    background-color: goldenrod;
} 

/* body{
    margin: 0;
    padding: 0;
} */
.image{
    width: 705px;
    height: 750px;
    position: absolute;
    right: 0;
    gap: 30px;
    z-index: -1;

}

    main .left-sec{
        padding-left: 100px;
    }
    .left-sec h1{
        font-size: 40px;
         text-transform: capitalize;
         font-weight: 700;
         margin: 15px 0;
    }
    .left-sec button{
        padding: 10px 95px;
        text-align: center;
        font-size: 12px;
        color: black;
        background-color: white;
        border: 0.1rem solid goldenrod;
        cursor: pointer;
        border-radius: 10px;
    }
    .left-sec button:hover{
        background-color: goldenrod;
    } 

/* About  */

.about{
    background-color: #f4f4f4;
    background-position: 100px;
    width: 100%;
    height: 300px;
    padding-left: 25px;
    margin-top: 210px;
    padding: none;
}
main h2{
    color: black;
    font-size: 50px;
    margin-left: 150px;
    margin-top: 50px;   
}
main h3{
    color: goldenrod;
    font-size: 50px;
    margin-left: 150px;
    margin-top: -10px;
    position: absolute;
}
.about p{
    font-size: 18px;
    margin-left: 650px;
    margin-top: -100px;
}

/* Our Services  */

.servicesphotos{   
    height: 200px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 10px;
}
.ab{
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 70px;
    font-size: 45px;
}

.b-1{
    height: 250px;
    width: 16%;
    align-items: center;
    text-align: center;
}
.b-1 p{
    color: gray;
}
.servicesphotos img{
    height: 70px;
    width: 90px;
}
.servicesphotos img:hover{
    height: 70px;
    width: 100px;
}

/* Our Portfolio */

.bg{
    background-color: #f4f4f4;
}
.heading-1 {
    height: 90px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }
  
  .c-1 {
    color: goldenrod;
  }
  
  .menu-1 {
    display: flex;
  }
  /* Menus */
  ul,ol {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 125px;
  }
  
  .m-1 a {
    text-decoration: none;
    color: black;
  }
  .m-1 a:hover {
    text-decoration: none;
    color: goldenrod;
  }
  .m-2 a {
    color: black;
  }
  .m-2 a:hover {
    color: goldenrod;
  }
  
  ol li a {
    position: absolute;
    right: 150px;
  }
  
  /* Image */
  img {
    border-radius: 10px;
    height: 350px;
    width: 280px;
  }
  /* img:hover{
    width: 400px;
    height: 400px;
  } */
  
  .image-outer{
    overflow: hidden;
    position: relative;
  }

  .image-inner{
    width: 200%;
    display: flex;
    transition: transform 1s ease-in-out;
  }
  .image-wrapper{
    flex: 1;
    width: 100%;
    height: 750px;
    text-align: center;
  }

  .line-1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }

  /* Our Pricing */

.xy{
    font-size: 45px;
    text-align: center;
}
.xy1{
    display: flex;
}
.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px , 100%);
    margin: auto;
}
.pricing-card{
    flex: 1;
    max-width: 360px;
    background-color: #f4f4f4;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: black;
    transition: .3s linear;
    border-radius: 15px;
    
}
.pricing-card-header{
    background-color: goldenrod;
    display: inline-block;
    color: #f4f4f4;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}
.pricing-card:hover .pricing-card-header{
    box-shadow:0 0 0 30em goldenrod;
    
}
.price{
    font-size: 70px;
    color: black;
    margin: 40px 0;
    transition: .2s linear;
}
.price sup, .price span{
    font-size: 22px;
    font-weight: 700;
}
.pricing-card:hover , .pricing-card:hover .price{
    color: white;
}
.price-card li{
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
}
.xyz{
    padding: 10px 0;
    list-style-type: none;
}
.order-btn{
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 40px;
    border: 2px solid goldenrod;
    color: black;
    background-color: white;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
    text-decoration: none;
}
.order-btn:hover{
    background-color:white;
    color:black;
}

/* What People Say */

 .bg1{
    background-color: #f4f4f4;
    width: 100%;
    height: 693px;
}
.head1{
    height: 90px;
    font-size: 45px;
    text-align: center;
    padding-top: 40px;
}
.box1{
    background-color: white;
    width: 570px;
    height: 400px;
    margin-top: 80px;
    margin-left: 120px;
    position: absolute;
    border-radius: 10px;
}
.box2{
    background-color: white;
    width: 570px;
    height: 400px;
    margin-top: 80px;
    margin-left: 730px;
    position: absolute;
    border-radius: 10px;
}
.line img{
    width: 100%;
    height:2px;
    margin-top: 141px;
    position: absolute;
} 
main .line .img1 img{
    width: 172px;
    height: 172px;
    margin-top: 25px;
    position: absolute;
    top: 10px;
    left: 90px;
}  
.name1{
    top: 67px;
    left: 300px;
    position: absolute;
    font-size: 20px;
    color: gray;
    margin-top: -20px;
} 
.name1 b{
    font-size: 25px;
    color: black;
}
main .social img{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 295px;
    top: 25px;
    gap: 8px;
}
main .line p{
    width: 400px;
    height: 126px;
    font-size: 17px;
    position: absolute;
    top: 238px;
    left: 100px;
    font-weight: 400;
    line-height: 27.2px;
}
/* --- */
main .line .img2 img{
    width: 172px;
    height: 172px;
    margin-top: 25px;
    position: absolute;
    top: 10px;
    left: 90px;
} 


/* Do you have any question */

.question{
    display: flex;
    margin-top:210px;
    background-color: white;
    
}
main h4{
    color: black;
    font-size: 50px;
    margin-left: 280px;
    margin-top: -160px;
}
main h5{
    color: goldenrod;
    font-size: 50px;
    margin-left: -265px;
    margin-top: -110px;
}
.order1{
    display: inline-block;
    margin-bottom: 10px;
    border: 2px solid goldenrod;
    color: black;
    background-color: white;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
    text-decoration: none;
    position: absolute;
    margin-left: 1000px;
    font-size: 15px;
}
.order1:hover{
    background-color: goldenrod;
    color: white;
}

/* All Details */
.bgg{
    background-color: #f4f4f4;
    width: 100%;
    height: 482px;
}
main .abc img{
    width: 137px;
    height: 40.06px;
    margin-top: 94px;
    margin-left: 137px;
}
.Details1 .abc p{
    font-size: 20px;
    line-height: 27.2px;
    margin-top: 10px;
    margin-left: 137px; ;
}
.Details1 .abc footer{
    font-size: 20px;
    margin-top: 70px;
    margin-left: 137px;
}
main .navigation{
    /* box-sizing: border-box; */
    font-size: 16px;
    position: absolute;
    /* margin-bottom: -100px; */
    margin-left: 650px;
    margin-top: -280px; 
}
main .navi a{
    text-decoration: none;
    color: black;
}
main .navi a:hover{
    text-decoration: none;
    color:goldenrod;
}
main .navigation img{
    width: 100px;
    height: 28px;
    margin-top: 10px;
    margin-left: 5px;
}
main .contact b{
    font-size: 30px;
}
main .contact{
    margin-top: -280px;
    position: absolute;
    margin-left: 1000px;
}
main .contact .address{
    color: gray;
    margin-top: 30px;
    text-transform: uppercase;
}
main .contact a{
    text-decoration: none;
    color: black;
}
main .contact a:hover{
    text-decoration: none;
    color:goldenrod;
}















